<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>

    <!--配置memcace缓存 开始 -->
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <!--配置memcace缓存 结束 -->

  </configSections>

  <!--配置memcace缓存 开始 -->
  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.100.203" port="11218" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:5" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>
  <!--配置memcace缓存 结束 -->

  <connectionStrings>

    <add name="DbPointConnectionString" connectionString="server=sql.point-server.com,3433;uid=pointserver;pwd=Point2016;database=point;pooling=true" providerName="System.Data.SqlClient" />
    <add name="DbConnectionString" connectionString="server=sql.point-server.com,3433;uid=pointserver;pwd=Point2016;database=point;pooling=true" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <appSettings>

    <!-- 配置 -->
    <add key="PromotionConnectionString" value=""  />

    <!-- 图片服务器地址 -->
    <add key="ImageFileService" value="http://10.25.231.154:20013/home/image/"  />

    <!-- 图片地址 -->
    <add key="ImageFileUrl" value="http://img.point-server.com"  />

    <!-- 微信支付通知地址 -->
    <add key="NotifyUrl" value="http://crm.point-server.com/WxAsyncNotify.aspx"  />

  </appSettings>

  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <compilation/>
  </system.web>

</configuration>
